<br></br>
<br></br>

<div class="row">
	<div class="col-xl-1" >
	</div>

	<div class="col-xl-6" >	
		<h3><i class="fas fa-phone"></i>
		<%=@hotel.contact.phone %>
		</h3><br />

		<br></br>	

		<h3><i class="fas fa-envelope-open-text"></i>
		<%= @hotel.contact.mail %> 
		</h3><br />
	</div>
</div>
